.breadcrumb {
    margin-bottom: 12px;
    font-size: 13px;
}

.breadcrumb__item {
    display: inline-block;
    margin: 0 4px;

    &:last-of-type .breadcrumb__arrow {
        display: none;
    }
}

.breadcrumb__arrow {
    display: inline-block;
    margin-left: 4px;
}