.search {
    background-color: #ffe600;
    padding: 8px 50px 10px 50px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.search__logo {
    background-image: url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.6.13/mercadolibre/logo_large_plus@2x.webp");
    background-size: 134px 34px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 34px;
    width: 134px;
    display: inline-block;
    position: static;

    span {
        display: none;
    }
}

.search__form {
    display: flex;
    height: 40px;
    width: 100%;

    input[type="search"] {
        margin: 0;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        height: 40px;
        width: 100%;
        padding: 10px 60px 10px 15px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        border-width: 1.5px;

        &:focus-visible {
            outline: none;
        }
    }

    .search__button {
        background: url('../../public/icons8-search.svg') right no-repeat;
        border: 0;
        border-left: 1px solid #ededed;
        border-radius: 0 4px 4px 0;
        display: inline-block;
        cursor: pointer;
        margin-top: 4px;
        padding: 0 0 0 4px;
        position: relative;
        right: 40px;
        top: 0;
        bottom: 0;
        left: auto;
        width: 36px;
        height: 32px;

        span {
            display: none;
        }
    }
}